
<div class="nav-footer">



  <div class="foot-content1 row justify-content-center text-left text-md-center">
     <div class="col-12 col-md-3"> <i class="far fa-envelope"></i>邮箱： {{ site.Params.marketing.contacts.email }}</div>

    <div class="col-12 col-md-2"><i class="fas fa-map-pin"></i> 邮编： {{ site.Params.marketing.contacts.post_code }}</div>

    <div class="col-12 col-md-4"><i class="far fa-address-card"></i>地址： {{ site.Params.marketing.contacts.address }}</div>


  </div>

   {{/*  <div class="nav-footer-center" style="text-align: center;">
    &nbsp;<a href='{{"" | relURL }}' >{{site.Title}}</a> ©
    <script>document.write(new Date().getFullYear())</script>
  </div>  */}}

</div>
